/* font example {
    font-family: 'Chewy', cursive;
    font-family: 'Roboto', sans-serif;
} */

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.logo>img {
    --logoImgSize: 6em;
    width: var(--logoImgSize);
    height: var(--logoImgSize);
}